.sidebar {
    background: #fff;/*배경색*/
    width: 15%;/*사이드바 안에 있을 요소들 가두는 크기*/
    height: 100vh;/*높이는 꽉 채우게*/
    position: fixed;/*화면에 고정되게*/
    top: 0;/*위에 딱 붙이고*/
    padding-left: 2%;/*왼쪽여백 2% 떼고 사이드바 요소들을 넣음*/
    padding-top: 80px;/*위쪽에 80PX만큼 떼기*/
}

.sortcut-links img {
    width: 20px; /*사이드바에 주제 메뉴들 이미지 크기*/
    margin-right: 20px;/*사이드바에 주제 메뉴들 이미지 여백*/
}

.side-link {
    display: flex; /*아이콘이랑 텍스트 정렬*/
    align-items: center; /*중앙 정렬*/
    margin-bottom: 20px; /*아래 간격 20px씩*/
    width: fit-content; /*너비 설정*/
    flex-wrap: wrap; /*줄바꿈 되게*/
    cursor: pointer; /*커서가 바뀌게*/
}

.sidebar hr {
    width: 85%; /*사이드바 너비 기준으로 85%만 씀*/
    height: 1px; /*선 높이 1px로*/
    border: 0; /*테두리 없앰*/
    background: #ccc; /*선 색*/
}

.subscribed-list h3 {
    font-size: 13px; /*글자 크기 13px로*/
    margin: 20px 0; /*위아래 간격 20px씩*/
    color: #5a5a5a; /*글자 색*/
}

.subscribed-list img {
    width: 25px; /*구독 채널 이미지 크기*/
    border-radius: 50%; /*둥글게 만듦*/
    margin-right: 20px; /*이미지랑 텍스트 간격*/
}

.small-sidebar {
    width: 5%; /*사이드바 줄이기*/
}

.small-sidebar p {
    display: none; /*줄어든 상태에서 글자가 안 보이게*/
}

.small-sidebar hr {
    width: 50%; /*선을 절반으로*/
    margin-bottom: 25px; /*아래 간격 25px*/
}
